@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
*,
 ::after,
 ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

 :root {
    /* dark shades of primary color*/
    --primary: #071a52;
    --primary_3: rgba(3, 10, 32, 0.726);
    --primary_2: rgb(83, 167, 216);
    --white: #FFF;
    --clr-black: #222;
    --ff-primary: "Montserrat", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.2rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}


/* ! NAVBAR */

.nav {
    position: sticky;
    height: 4rem;
    display: flex;
    padding-top: .5rem;
    padding-bottom: .5rem;
    justify-content: center;
    width: 100%;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 7px 7px 10px #47454542;
}

.nav-center {
    width: 90vw;
    max-width: 1170px;
}

.nav-header {
    display: flex;
    justify-content: space-between;
}

.cont {
    display: flex;
}

.cont .quote {
    padding-left: 1rem;
}

.quote h1 {
    cursor: pointer;
    color: #112a75;
}

.cont h1 span {
    color: rgb(21, 199, 101);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.cont h4 {
    font-weight: 100;
    color: rgb(89, 55, 214);
}

.sign-in::before {
    position: absolute;
    content: "»";
    top: 50%;
    transform: translateY(-50%);
    right: 4px;
    color: rgb(21, 199, 101);
    font-size: 13pt;
    font-weight: 700;
    display: none;
    padding-right: 6px;
}

.sign-in {
    transition: all .6s ease;
    position: relative;
    background-color: transparent;
    padding: 6px 17px;
    height: 40px;
    width: auto;
    vertical-align: middle;
    align-self: center;
    border: 1.5px solid rgb(21, 199, 101);
    border-radius: 6px;
    cursor: pointer;
}

.sign-in:hover {
    padding-right: 35px;
}

.sign-in:hover::before {
    display: block;
}

#sign {
    color: rgb(21, 199, 101);
    font-weight: 700;
    font-size: 13pt;
}


/* ! END  OF NAVABR */


/* ! LOGIN */

.section-center {
    background: #e2f3f5;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

.section-center-up {
    background: rgb(238, 174, 202);
    background: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 85%);
    margin-top: -4rem;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

.conatiner {
    z-index: 3;
    transition: all .6s ease;
    padding: .5rem .5rem;
    background: #FFF;
    border-radius: 8px;
    width: 60%;
    height: auto;
    box-shadow: 7px 7px 10px #c4c4c4;
    display: grid;
    place-items: center;
}

.conatiner p {
    align-self: center;
    margin: 1.1rem auto;
    width: 90%;
    font-weight: 300;
    color: #222;
    font-size: 12pt;
    text-align: start;
}

.conatiner h1 {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    align-self: center;
    margin: 1.1rem auto;
    width: 90%;
    font-weight: 600;
    color: rgb(21, 199, 101);
    text-align: center;
}

.entries {
    width: 100%;
    display: grid;
    align-self: center;
    margin: 1.5rem auto;
}

.entries input {
    width: 90%;
    height: 40px;
    font-size: 13pt;
    font-family: var(--ff-primary);
    padding-left: 6px;
    margin: auto auto;
    border: .3px solid rgb(124, 120, 120);
    border-radius: 5px;
}

#login {
    margin: auto auto;
    border-radius: 5px;
    border: none;
    margin-top: 1.6rem;
    background-color: rgb(21, 199, 101);
    width: 60%;
    padding: 8px 12px;
    height: auto;
    font-size: 13pt;
    font-weight: 700;
    color: white;
    text-transform: capitalize;
    cursor: pointer;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.239);
}

#login:hover {
    background-color: rgb(20, 184, 94);
}


/* ! END LOGIN */


/*  ! MEDIA QUERIES */


/* ! END MEDIA QUERIES */


/* ! SIGN UP */

.section-center-up h1 {
    color: rgba(224, 231, 227, 0.829);
    text-shadow: 7px 7px 10px #47454542;
    font-family: 'Lemon', cursive;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1;
    text-align: center;
    position: absolute;
    font-size: 8rem;
    top: 30%;
    left: 5%;
}

.section-center-up h2 {
    color: rgba(224, 231, 227, 0.829);
    text-shadow: 7px 7px 10px #47454542;
    font-family: 'Lemon', cursive;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1;
    text-align: center;
    position: absolute;
    font-size: 8rem;
    top: 60%;
    right: 5%;
}

.container-up {
    margin-top: 4rem;
    z-index: 3;
    transition: all .6s ease;
    padding: .5rem .2rem;
    background: #FFF;
    border-radius: 8px;
    height: auto;
    width: 70%;
    box-shadow: 7px 7px 10px #47454542;
    display: grid;
    place-items: center;
    padding: 1rem .3rem;
}

.sign-up input {
    width: 90%;
    height: 40px;
    font-size: 12pt;
    font-family: var(--ff-primary);
    padding-left: 6px;
    font-weight: 500;
    margin: .4rem 1rem;
    border: .3px solid rgb(124, 120, 120);
    border-radius: 5px;
}

.section-center-up #sign-up-btn {
    margin: auto auto;
    border-radius: 5px;
    border: none;
    margin-top: .5rem;
    margin-bottom: .5rem;
    background-color: rgb(21, 199, 101);
    width: 70%;
    padding: 10px 8px;
    height: auto;
    font-size: 13pt;
    font-weight: 600;
    color: white;
    text-transform: capitalize;
    letter-spacing: 1.2px;
    cursor: pointer;
    box-shadow: 2px 3px 3px #c4c4c4;
    border-radius: 5px;
}

#sign-up-btn:hover {
    background-color: rgb(20, 184, 94);
}

.section-center-up p {
    width: 90%;
    font-weight: 600;
    text-align: center;
    margin-bottom: .5rem;
    font-size: 12pt;
}


/* ! END SIGN UP */

@media screen and (max-width:568px) {
    .conatiner {
        width: 80%;
    }
    .cont .quote {
        display: none;
    }
    .section-center-up h1,
    h2 {
        display: none;
    }
    .container-up {
        width: 80%;
    }
    .sign-up input {
        width: 90%;
        height: 35px;
        font-size: 13pt;
        font-family: var(--ff-primary);
        padding-left: 6px;
        font-weight: 500;
        margin: .3rem 1rem;
        border: .3px solid rgb(124, 120, 120);
        border-radius: 5px;
    }
}

@media screen and (max-width:641px) {
    .conatiner {
        width: 80%;
    }
    .cont .quote {
        display: none;
    }
    .section-center-up h1,
    h2 {
        display: none;
    }
}

@media screen and (min-width :800px) and ( max-width:1025px) {
    .container-up {
        width: 37.5%;
    }
    .conatiner {
        width: 37.5%;
    }
}

@media (min-width :1025px) {
    .conatiner {
        width: 25%;
    }
    .container-up {
        width: 27.5%;
        height: 80%;
    }
}